@charset "utf-8";

.css-1roiy28 { background-color: rgb(41, 47, 54); padding: 140px 26px 50px; max-width: 1400px; width: 100%; margin: auto; }

@media (max-width: 600px) {
  .css-1roiy28 { padding: 50px 26px; display: flex; flex-direction: column; }
}
