@charset "utf-8";

.css-gtizyy { display: flex; -webkit-box-pack: justify; justify-content: space-between; width: 446px; }

@media (max-width: 1024px) {
  .css-gtizyy { width: 100%; margin-bottom: 50px; }
}

@media (max-width: 600px) {
  .css-gtizyy { flex-direction: column; -webkit-box-align: center; align-items: center; height: 170px; margin-bottom: 46px; }
}
