@charset "utf-8";

@media (max-width: 768px) {
  .css-1edo2x6 { line-height: 1; place-content: center; -webkit-box-align: stretch; align-items: stretch; align-self: auto; border-style: none; border-width: 0px; border-color: transparent; flex-flow: row nowrap; -webkit-box-pack: center; background-color: transparent; min-height: auto; min-width: auto; overflow: visible; flex-shrink: 1; margin: 0px; padding: 12px 15px; display: flex; }
}

@media (max-width: 991px) and (min-width: 769px) {
  .css-1edo2x6 { line-height: 1; place-content: center; -webkit-box-align: stretch; align-items: stretch; align-self: auto; border-style: none; border-width: 0px; border-color: transparent; flex-flow: row nowrap; -webkit-box-pack: center; background-color: transparent; min-height: auto; min-width: auto; overflow: visible; flex-shrink: 1; margin: 0px; padding: 12px 15px; display: flex; }
}

@media (min-width: 992px) {
  .css-1edo2x6 { line-height: 1; place-content: center; -webkit-box-align: stretch; align-items: stretch; align-self: auto; border-style: none; border-width: 0px; border-color: transparent; flex-flow: row nowrap; -webkit-box-pack: center; background-color: transparent; min-height: auto; min-width: auto; overflow: visible; flex-shrink: 1; margin: 0px; padding: 12px 15px; display: flex; }
}
