@charset "utf-8";

.css-xsu5qw { padding: 56px 0px 170px !important; }

@media (max-width: 768px) {
  .css-xsu5qw { padding: 24px 14px 120px !important; }
}

.css-127aq4z { margin: -106px 8px 0px !important; }

.css-1g3uzhn { padding: 56px 0px 170px !important; }

@media (max-width: 768px) {
  .css-1g3uzhn { padding: 24px 0px 120px !important; }
}

.css-yxmi1p { border: 2px solid rgb(223, 224, 225); border-radius: 50%; width: 50px; height: 50px; display: inline-flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; cursor: pointer; }

@media (max-width: 768px) {
  .css-1vi0w20 { line-height: 1; place-content: stretch flex-start; -webkit-box-align: stretch; align-items: stretch; align-self: auto; border-style: none; border-width: 0px; border-color: transparent; flex-flow: row nowrap; -webkit-box-pack: start; background-color: transparent; min-height: auto; min-width: auto; overflow: visible; flex-shrink: 1; width: 12px; margin: 0px 0px 0px 6px; padding: 0px; display: inline-block; }
}

@media (max-width: 991px) and (min-width: 769px) {
  .css-1vi0w20 { line-height: 1; place-content: stretch flex-start; -webkit-box-align: stretch; align-items: stretch; align-self: auto; border-style: none; border-width: 0px; border-color: transparent; flex-flow: row nowrap; -webkit-box-pack: start; background-color: transparent; min-height: auto; min-width: auto; overflow: visible; flex-shrink: 1; width: 12px; margin: 0px 0px 0px 6px; padding: 0px; display: inline-block; }
}

@media (min-width: 992px) {
  .css-1vi0w20 { line-height: 1; place-content: stretch flex-start; -webkit-box-align: stretch; align-items: stretch; align-self: auto; border-style: none; border-width: 0px; border-color: transparent; flex-flow: row nowrap; -webkit-box-pack: start; background-color: transparent; min-height: auto; min-width: auto; overflow: visible; flex-shrink: 1; width: 12px; margin: 0px 0px 0px 6px; padding: 0px; display: inline-block; }
}

@media (max-width: 768px) {
  .css-tqa2wp { line-height: 1; place-content: stretch flex-start; -webkit-box-align: stretch; align-items: stretch; align-self: auto; border-style: none; border-width: 0px; border-color: transparent; flex-flow: row nowrap; -webkit-box-pack: start; background-color: transparent; min-height: auto; min-width: 28px; overflow: hidden; flex-shrink: 1; margin: 0px 10px 0px 0px; padding: 0px; display: block; border-radius: 2px; }
}

@media (max-width: 991px) and (min-width: 769px) {
  .css-tqa2wp { line-height: 1; place-content: stretch flex-start; -webkit-box-align: stretch; align-items: stretch; align-self: auto; border-style: none; border-width: 0px; border-color: transparent; flex-flow: row nowrap; -webkit-box-pack: start; background-color: transparent; min-height: auto; min-width: 28px; overflow: hidden; flex-shrink: 1; margin: 0px 10px 0px 0px; padding: 0px; display: block; border-radius: 2px; }
}

@media (min-width: 992px) {
  .css-tqa2wp { line-height: 1; place-content: stretch flex-start; -webkit-box-align: stretch; align-items: stretch; align-self: auto; border-style: none; border-width: 0px; border-color: transparent; flex-flow: row nowrap; -webkit-box-pack: start; background-color: transparent; min-height: auto; min-width: 28px; overflow: hidden; flex-shrink: 1; margin: 0px 10px 0px 0px; padding: 0px; display: block; border-radius: 2px; }
}
