@charset "utf-8";

@media (max-width: 768px) {
  .css-1t72zze { line-height: 1; place-content: stretch flex-start; -webkit-box-align: center; align-items: center; align-self: auto; border-style: none; border-width: 0px; border-color: transparent; flex-flow: row nowrap; -webkit-box-pack: start; background-color: transparent; min-height: auto; min-width: auto; overflow: visible; margin: 0px; padding: 0px; display: flex; flex: 1 1 0%; }
}

@media (max-width: 991px) and (min-width: 769px) {
  .css-1t72zze { line-height: 1; place-content: stretch flex-start; -webkit-box-align: center; align-items: center; align-self: auto; border-style: none; border-width: 0px; border-color: transparent; flex-flow: row nowrap; -webkit-box-pack: start; background-color: transparent; min-height: auto; min-width: auto; overflow: visible; margin: 0px; padding: 0px; display: flex; flex: 1 1 0%; }
}

@media (min-width: 992px) {
  .css-1t72zze { line-height: 1; place-content: stretch flex-start; -webkit-box-align: center; align-items: center; align-self: auto; border-style: none; border-width: 0px; border-color: transparent; flex-flow: row nowrap; -webkit-box-pack: start; background-color: transparent; min-height: auto; min-width: auto; overflow: visible; margin: 0px; padding: 0px; display: flex; flex: 1 1 0%; }
}
