@charset "utf-8";

.css-17p6224 { margin: 0px 0px 40px; border: 1px solid rgb(255, 255, 255); opacity: 0.2; width: 100%; }

@media (max-width: 600px) {
  .css-17p6224 { margin-bottom: 46px; }
}
